body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.app-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.shortcut-panel {
    width: 300px;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.shortcut-panel h2 {
    margin-top: 0;
}

.shortcut-panel ul {
    list-style: none;
    padding: 0;
}

.shortcut-panel li {
    margin-bottom: 10px;
}

.key {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0 5px;
    background-color: #555;
}

.toggled-key {
    background-color: darkorange;
}

.canvas-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1C18;
}

canvas {
    display: block;
}

.shortcuts-title {
    text-align: center;
}

.hotkey {
    color: orange;
}