<div class="app-container">
    <div class="shortcut-panel">
        <h2 class="shortcuts-title">Shortcuts</h2>
        <ul>
            <li><span class="key">1</span> or <span class="key">&</span>&nbsp; Crypt Maps</li>
            <li><span class="key">2</span> or <span class="key">é</span>&nbsp; Inferno Maps</li>
            <li><span class="key">3</span> or <span class="key">"</span>&nbsp; Goblin Cave Map</li>
            <li><span class="key">5</span> or <span class="key">(</span>&nbsp; Ice Cavern Map</li>
            <li><span class="key">6</span> or <span class="key">)</span>&nbsp; Ice Abyss Map</li>
            <br />
            <li><span class="key">S</span>&nbsp; Toggle <span class="hotkey">[S]</span>pawns</li>
            <li><span class="key">R</span>&nbsp; Toggle <span class="hotkey">[R]</span>espawn shrines</li>
            <li><span class="key">H</span>&nbsp; Toggle <span class="hotkey">[H]</span>ealth shrines</li>
        </ul>
    </div>
    <div class="canvas-container">
        <canvas #canvas width="1600" height="900" (mousedown)="startDrag($event)" (mousemove)="onMouseMove($event)"
            (mouseup)="endDrag()" (mouseleave)="endDrag()" (wheel)="onScroll($event)"></canvas>
    </div>
</div>