<div class="app-container">
    <div class="shortcut-panel">
        <h2 class="shortcuts-title">Shortcuts</h2>
        <ul>
            <li><span class="key"
                    [class.toggled-key]="this.selectedMap == 'Crypt_01' || this.selectedMap == 'Crypt_02'">1</span> or
                <span class="key"
                    [class.toggled-key]="this.selectedMap == 'Crypt_01' || this.selectedMap == 'Crypt_02'">&</span>&nbsp;
                Crypt
            </li>
            <li><span class="key"
                    [class.toggled-key]="this.selectedMap == 'Inferno_01' || this.selectedMap == 'Inferno_02'">2</span>
                or
                <span class="key"
                    [class.toggled-key]="this.selectedMap == 'Inferno_01' || this.selectedMap == 'Inferno_02'">é</span>&nbsp;
                Inferno
            </li>
            <li><span class="key" [class.toggled-key]="this.selectedMap == 'GoblinCave_01'">3</span> or
                <span class="key" [class.toggled-key]="this.selectedMap == 'GoblinCave_01'">"</span>&nbsp;
                Goblin Cave
            </li>
            <li><span class="key" [class.toggled-key]="this.selectedMap == 'IceCave_01'">5</span> or
                <span class="key" [class.toggled-key]="this.selectedMap == 'IceCave_01'">(</span>&nbsp;
                Ice Cavern
            </li>
            <li><span class="key" [class.toggled-key]="this.selectedMap == 'IceAbyss_01'">6</span> or
                <span class="key" [class.toggled-key]="this.selectedMap == 'IceAbyss_01'">)</span>&nbsp;
                Ice Abyss
            </li>
            <br />
            <li><span class="key" [class.toggled-key]="this.displayCoordinates">C</span>&nbsp;
                <span class="hotkey">C</span>oordinates on cursor
            </li>
            <li><span class="key" [class.toggled-key]="this.displayFlags['spawn']">S</span>&nbsp;
                <span class="hotkey">S</span>pawns
            </li>
            <br />
            <li><span class="key" [class.toggled-key]="this.displayFlags['shrine_health']">H</span>&nbsp;
                <span class="hotkey">H</span>ealth shrines
            </li>
            <li><span class="key" [class.toggled-key]="this.displayFlags['shrine_speed']">B</span>&nbsp;
                <span class="hotkey">B</span>uff shrines
            </li>
            <li><span class="key" [class.toggled-key]="this.displayFlags['shrine_respawn']">R</span>&nbsp;
                <span class="hotkey">R</span>espawn shrines
            </li>
            <br />
        </ul>
    </div>
    <div class="canvas-container">
        <canvas #canvas width="1600" height="900" (mousedown)="startDrag($event)" (mousemove)="onMouseMove($event)"
            (mouseup)="endDrag()" (mouseleave)="endDrag()" (wheel)="onScroll($event)"></canvas>
    </div>
</div>